
  
  body {
    
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
  }
main, footer {
    padding:1rem;
  }
  #wrap {
   max-width:1000px;
    margin: 0 auto;
    margin-top:1rem;
   
    display:flex;
    flex-direction:column;
    row-gap:2rem;
  }
  
.flex{
  display:flex;
  justify-content:space-between;
  align-items: center;
}


  header { 
    padding:1rem;
  }
  header .logo {
    height: 30px;
    
  }
  header .profiles  {
    height: 50px;
    margin-left: 3rem;
  }

  header nav {
  
    gap:1rem;
  }

  header nav a {
    text-decoration: none;
    color:#000;
  }

  header .search {
    margin-right:3rem;
  }

  header .right {
gap:1rem;
  }

  header .right.search {
    position: relative;
      }

      header .right.search i {
        position: absolute;
        right: 10px;
        top:50%; 
        transform: translateY(-50%);
        cursor:pointer;
          }

  header .right.profile {
    gap:1rem;
      }
      
      main {
        background-image: url("/src/images/himym.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color:#fff;
        padding: 5rem 3rem;
      }

      .hero-content {
        
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        font-size: 25px;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    
      .btn-lg {
      display: inline-block;
        background-color: red;
        color:white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding:5px 10px;
        font-size:1rem;
        width: fit-content;
        border-radius: 5px;
        border:none;
        vertical-align:middle;
        cursor: pointer;
        text-align: center
        
      }

      .suggestion-row {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
      }
      .suggestion-row .s-header {
        display: flex;
        justify-content: space-between;
      }

      .suggestion-row h2 {
        font-size: 0.9 rem;
      }

      .suggestion-row a {
        text-decoration: none;
        font-size: 0.8 rem;
      }

      .suggestion-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
      }
      .suggestion-content .item{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        border:2px solid #c2c2c2;
        padding:2rem 3rem 2rem 1rem;
        width:20%;
        
      }
   
footer {

  display: flex;
  flex-direction: row;
 
  


}
.logo {
  display:flex;
  flex-direction: row;
  width: 100px;
  margin: 1px;
  padding:3px 3px;
}
.apps {
  display: flex;
  flex-direction: row;
  width: 100px;
}
.copyright-details {
  display: flex;
  
  flex-direction: row;

}