

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll; 
}
  body {
    
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color:#111111;
    background-image: url("/src/images/images.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
main, footer {
    padding:1rem;
  }
  #wrap {
   max-width:1000px;
    margin: 0 auto;
    margin-top:1rem;
   
    display:flex;
    flex-direction:column;
    row-gap:2rem;
  }
  
.flex{
  display:flex;
  justify-content:space-between;
  align-items: center;
}

  header { 
    padding:1rem;
    box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    
  }
  header .logo {
    height: 40px;   
    
  }
  header .profiles  {
    height: 50px;
    margin-left: 3rem;
    box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
  }

  header nav {
    gap:1rem;   
  }

  header nav a {
    text-decoration: none;
    color:white;  
    box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
  }

  header .search {
    margin-right:3rem;
    box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    height: 20px;  
  }

  header .right {
gap:1rem;
color: #fff;
  }

  header .right.search {
    position: relative;
      }

      header .right.search i {
        position: absolute;
        right: 10px;
        top:50%; 
        transform: translateY(-50%);
        cursor:pointer;
          }

  header .right.profile {
    gap:1rem;
      }
    
      main {
        background-image: url("/src/images/himym.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color:#fff;
        padding: 5rem 3rem;
        border-radius: 15px;
        box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.5); 
      }

      .hero-content { 
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        font-size: 25px;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    
      .fav {
        display: flex;
        flex-direction: row;
        font-size: 25px;
        font-weight:20;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:red;
      }
      .fav-text {
        display: flex;
        flex-direction: row;
        font-size: 25px;
        font-weight:20;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      .btn-lg {
      display: inline-block;
        background-color: red;
        color:white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding:5px 10px;
        font-size:1rem;
        width: fit-content;
        border-radius: 5px;
        border:none;
        vertical-align:middle;
        cursor: pointer;
        text-align: center 
      }

      .suggestion-row {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;  
      }
      .suggestion-row .s-header {
        display: flex;
        justify-content: space-between;
      }

      .suggestion-row h2 {
        font-size: 0.9 rem;
        color:white;       
      }

      .suggestion-row a {
        text-decoration: none;
        font-size: 0.8 rem;
        color:white;     
      }

      .suggestion-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
      }
      .suggestion-content .item{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        border:2px solid #c2c2c2;
        padding:2rem 3rem 2rem 1rem;
        width:20%;
        background-color: darkgrey;
        position:relative;
        color:white;
        border-radius: 15px;    
      }

movie-info.hd {
margin: left 1rem;
}
  .suggestion-content .item img {
        width: 100%;    
      }
      .suggestion-content .item .item-content {
position:absolute;
    top: 10px;
    left: 10px;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;  
      }
      .item1 {
        background-image: url("/src/images/friends.jpg") !important;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.5);   
    }
    .item2 {
      background-image: url("/src/images/tbbt.jpg") !important;
      background-size: cover;
      background-position: center -10px;
      background-repeat: no-repeat;
      box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.5);     
  }
  .item3 {
    background-image: url("/src/images/ng.jpg") !important;
    background-size: cover;
    background-position: center 0.5px;;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.5);  
}
.item4 {
  background-image: url("/src/images/hımyf.jpg") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.5);  
}
.item5 {
  background-image: url("/src/images/to.jpg") !important;
  background-size: cover;
  background-position: center  0.5px;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.5);  
}
.item6 {
  background-image: url("/src/images/mf.jpg") !important;
  background-size: cover;
  background-position: center 1px;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.5); 
}
.item7 {
  background-image: url("/src/images/Lupin.jpg") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin:0 10px;
  box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.5);
}
  .item8 {
    background-image: url("/src/images/LCDP.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin:0 10px;
    box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.5);
  }
    .item9 {
      background-image: url("/src/images/ss.jpg") !important;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin:0 10px;
      box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.5);
    }
      .item10 {
        background-image: url("/src/images/kk.jpg") !important;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin:0 10px;
        box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.5);
      }
        .item11 {
          background-image: url("/src/images/nn.jpg") !important;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          margin:0 10px;
          box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.5);
        }
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
  align-items: flex-start;
  padding: 15px;
  font-size: 15px;
  color:white;
  box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

.footer-copyright {
  width: 60%;
  padding-right:1rem;
  display: flex;                  
  flex-direction: column;         
  align-items: flex-start;       
  width: 50%;
}

.footer-copyright nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}
.footer-copyright a {
  text-decoration: none;
  color:white;
  transition:color 0.2s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:5px 10px;
  font-size:1.5rem;
}

.footer-copyright a:hover {
color:blue;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:5px 10px;
  font-size:1.5rem; 
}

.footer-copyright p {
  margin-top: 2vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:5px 10px;
  font-size:1.5rem;
  margin:10px;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
}
.footer-logo p {
  margin-bottom: 1.2vh;
  font-weight: bold;
}
.footer-logo img {
  width:100px;
  height:auto;
  margin: 5px;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}
.view-all {
  display: card-container;
  justify-items: end;
  margin: auto;
  margin-right: 1vh;
}
.apps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
}
.apps p {
  margin-bottom: 1vh;
  font-weight: bold;
}
.apps img {
  width: auto px;
  height: 100px;
  margin: 5px 0;
  display: inline-block;
  box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}
.section-header {
display: flex;
}
.section-header a {
  margin-top: 30px;
}


@media(max-width:700px) {
  header {
    position:relative;
  }

  header nav{
  position:absolute;
  top:50%;
  left:50%;
  }
  section {
    padding: 1rem;
  }
  .suggestion-content {
    flex-wrap: wrap;
  }
  .suggestion-content .item {
    width: 45%;
    margin-bottom: 1rem;
  }
  footer {
    flex-wrap: wrap;
  }
  .footer-copyright {
    width:100%;
    margin-bottom: 2 rem;
  }
  .social-icons {
    display: flex;
  }

}